[Desktop Entry]
Type=Application
Name=MyTag
Name[es]=MyTag
Name[ca]=MyTag
GenericName=Audio Tag Editor
GenericName[es]=Editor de etiquetas de audio
GenericName[ca]=Editor d'etiquetes d'àudio
Comment=Edit tags and cover art on your FLAC, MP3, M4A, OGG and OPUS music files
Comment[es]=Edita las etiquetas y la portada de tus archivos de música FLAC, MP3, M4A, OGG y OPUS
Comment[ca]=Edita les etiquetes i la portada dels teus fitxers de música FLAC, MP3, M4A, OGG i OPUS
Exec=mytag
Icon=com.maestebanc.MyTag
Terminal=false
Categories=Audio;AudioVideo;
StartupWMClass=com.maestebanc.MyTag
MimeType=audio/flac;audio/x-flac;audio/mpeg;audio/mp3;audio/mp4;audio/x-m4a;audio/ogg;audio/x-vorbis+ogg;audio/opus;
Keywords=music;tags;flac;mp3;m4a;ogg;opus;metadata;cover;audio;
Keywords[es]=musica;etiquetas;flac;mp3;m4a;ogg;opus;metadatos;portada;audio;
Keywords[ca]=musica;etiquetes;flac;mp3;m4a;ogg;opus;metadades;portada;audio;
